<table class="table_style2">
    <tr>
        <th>会员ID</th>
        <th>申请日期</th>
        <th>礼品(尺寸颜色)</th>
        <th>数量</th>
        <th>出货状态</th>
        <th>备注</th>
    </tr>
    {{ each gift_redeems data index }}
    <tr>
        <td>{{ data.user_data.username }}</td>
        <td>{{ data.created_at }}</td>
        <td>{{ data.gift_data.name }} <br> {{ data.size }} &nbsp; {{ data.color }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{if data.status == 'approve'}} 已批准 {{else if data.status == 'reject'}}拒绝 {{else}} 待审核 {{/if}}</td>
        <td>{{ data.remark }}</td>
    </tr>
    {{ /each }}
</table>
<div class="pagination_area w-100">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a id="{{i}}" class="page-link page-pagination" href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            {{if (total_page == 1) }}
            <li id="{{total_page}}" class="page-item page-pagination active"><a class="page-link" href="#">{{total_page}}</a></li>
            {{else}}
            <% for(var i = 1; i <= total_page; i++){ %>
            {{if current_page == i}}
            <li id="{{i}}" class="page-item page-pagination active"><a class="page-link" href="#"><%= i %></a></li>
            {{else}}
            <li id="{{i}}" class="page-item page-pagination"><a class="page-link" href="#"><%= i %></a></li>
            {{/if}}
            <% } %>
            {{/if}}
            <li class="page-item">
                <a id="{{total_page}}" class="page-link page-pagination" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var option = ""
        var selectedIds = ""
        $(".items_all").click(function () {
            if ($(this).prop("checked") == false) {
                $('.item').prop('checked', false);
            } else if ($(this).prop("checked") == true) {
                $('.item').prop('checked', true);
            }
        })

        //pagination
        $(".page-pagination").click(function(){
            window.gift_redeem_page_no = this.id
            triggerModalProgress();
        })

        //bulk select
        $('#bulk_edit_btn').on('click', function () {
            option = $('#bulk_edit').val();
            selectedIds = getAllSelectedIds()
            if (selectedIds.length != 0) {
                var confirmed = showBulkActionPrompt(option);
                if (!confirmed) {
                    return;
                } else if (option == 'bulk_cancel') {
                    handleBulkCancel(selectedIds)
                }
            } else {
                alert("请勾选复选框！")
            }
        })
    });
</script>