{{ if full_video }}
{{ if full_video.article_data }}
<div class="layout1920 full_video">
    <div>
        <video autoplay="" muted="" loop="" id="myVideo">
            <source src={{ "../../" + full_video.url }} type="video/mp4">
        </video>
    </div>

    <div class="text_area">
        <div>预览(15 秒)</div>
        <div class="title">{{ full_video.article_data.title }}</div>
        <div class="play_btn">
            <a href="article.php?id={{ full_video.article_data.id }}">
                <i class="fas fa-play-circle"></i>播放完整影片
            </a>
        </div>
    </div>
</div>
{{ /if }}
{{ /if }}