<div class="index_p5 layout1200">
    <div class="title_area"><span id="title_area"></span></div>
    <div class="category_area sub_tags">
        <div class="category_item_area">
            {{ each articles article index }}
            <a class="category_item" href="article.php?id={{ article.id }}">
                {{ if article.upload_url }}

                {{ if $imports.detectMedia(article.upload_url, 0, 0) }}
                <img src="../../{{ article.upload_url }}" style="width: 200px;height: 115px;">
                {{ else }}
                <video style="width: 200px;height: 115px;">
                    <source src={{ "../../" + article.upload_url }} type="video/mp4">
                </video>
                {{ /if }}

                {{ else }}
                <img src="http://www.placehold.it/200x115/EFEFEF/AAAAAA" style="width: 200px;height: 115px;">
                {{ /if }}
                <div>
                    <div class="text">
                        {{ article.title }}
                    </div>
                    <div class="sub_text">
                        {{ article.active_at + " " + article.category }}
                    </div>
                </div>
            </a>
            {{ /each }}
        </div>
    </div>
</div>

<div class="pagination_area layout1200" data-pageno="{{totalPage}}">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a id="{{i}}" class="page-link page-pagination" href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <% for(var i = 1; i <= totalPage; i++){ %>
            <li id="{{i}}" class="page-item page-pagination"><a class="page-link" href="#"><%= i %></a></li>
            <% } %>
            <li class="page-item">
                <a id="{{ totalPage }}" class="page-link page-pagination" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (getQueryString("tags")) {
            $("#title_area").html(getQueryString("tags"));
        }

        $(".page-pagination").click(function () {
            if (this.id == "{{totalPage}}") this.id = (this.id - 1)
            window.tag_page_no = this.id
            article_tags(getQueryString("tags"));
        });
    });
</script>